<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= puppy.name %></title>
    <%- include('templates/puppyCss') %>
</head>
<body>
    <h1><%= puppy.name %></h1>
    <img src="<%= puppy.imageUrl %>" alt="<%=puppy.name%>" width="300">
    <p>Puppy power: <%= puppy.puppyPower %></p>
    <p>Bestevenn: <%= puppy.bestFriend %></p>
    <p>Fødselsår: <%= puppy.birthYear %></p>

    <a href="/puppies">Tilbake til puppes</a>
</body>
</html>